<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Rules" description="Foundation Rules" dependencies="Foundation.Serialization" extends="Helix.Foundation">
				
				  <predicate>
                        <include name="Foundation.Rules.Templates" database="master" path="/sitecore/templates/Foundation/Rules" />
                        <include name="Foundation.Rules.Renderings" database="master" path="/sitecore/layout/renderings/Foundation/Rules" />
                        <include name="Foundation.Rules.Layouts" database="master" path="/sitecore/layout/layouts/Foundation/Rules" />
                        <include name="Foundation.Rules.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Foundation/Rules" />
                        <include name="Foundation.Rules.Models" database="master" path="/sitecore/layout/models/Foundation/Rules" />
                    </predicate>
				
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
